version: '3'
services:
  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    network_mode: "host"
    restart: always

  grafana:
    image: grafana/grafana
    network_mode: "host"
    restart: always